<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}" />
</head>
<body>
  <header class="main-header">
    <div class="header-left">
      <img src="{{ url_for('static', filename='images/DUT.png') }}" alt="DUT Logo" class="dut-logo" />
    </div>
    <div class="header-right">
      <button class="profile-btn">Profile</button>
      <button class="logout-btn">Logout</button>
    </div>
  </header>

  <main class="dashboard-content">
    <div class="dashboard-header">
      <h1 class="dashboard-title">ADMIN DASHBOARD</h1>
      <p class="dashboard-subtitle">Welcome System Admin</p>
    </div>

    <div class="dashboard-cards-container">
      <a href="{{ url_for('lecturer') }}" class="dashboard-card">
        <img src="{{ url_for('static', filename='images/Lecture.png') }}" alt="Lecturers Icon" class="card-image-icon" />
        <h3 class="card-title"> Lecturers</h3>
      </a>
      <a href="{{ url_for('module') }}" class="dashboard-card">
        <img src="{{ url_for('static', filename='images/Book.png') }}" alt="Modules Icon" class="card-image-icon" />
        <h3 class="card-title"> Modules</h3>
      </a>
      <a href="student-management.html" class="dashboard-card">
        <img src="{{ url_for('static', filename='images/Student.png') }}" alt="Students Icon" class="card-image-icon" />
        <h3 class="card-title"> Students</h3>
      </a>
      <a href="venue-management.html" class="dashboard-card">
        <img src="{{ url_for('static', filename='images/Venue.png') }}" alt="Venues Icon" class="card-image-icon" />
        <h3 class="card-title"> Venues</h3>
      </a>
      <a href="class-period-management.html" class="dashboard-card">
        <img src="{{ url_for('static', filename='images/ModulePeriod.png') }}" alt="Class Periods Icon" class="card-image-icon" />
        <h3 class="card-title">Module Periods</h3>
      </a>
      <a href="class-register-management.html" class="dashboard-card">
        <img src="{{ url_for('static', filename='images/Register.png') }}" alt="Class Registers Icon" class="card-image-icon" />
        <h3 class="card-title">Module Registers</h3>
      </a>
      <a href="view-attendance.html" class="dashboard-card">
        <img src="{{ url_for('static', filename='images/ViewAttendance.png') }}" alt="Attendance Icon" class="card-image-icon" />
        <h3 class="card-title">View Attendance</h3>
      </a>
    </div>
  </main>

  <footer>
    <p>&copy; CyberRogues Attendance System</p>
  </footer>

  <script src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
</body>
</html>
