<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Venue</title>
    <link rel="stylesheet" href="static/css/venue.css">
</head>
<body>
    <header class="main-header">
        <div class="header-left">
            <a href="admin_dashboard.html">
                <img src="static/images/DUT.png" alt="DUT Logo" class="dut-logo">
            </a>
        </div>
        <div class="header-right">
            <button class="profile-btn">Profile</button>
            <button class="logout-btn">Logout</button>
        </div>
    </header>

    <div class="back-button-container">
        <a href="venue.html" class="back-btn" id="back-button">
            <img src="static/images/Back.png" alt="Back" class="back-icon">
        </a>
    </div>

    <main class="dashboard-content">
        <div class="dashboard-header">
            <h1 class="dashboard-title">EDIT VENUE</h1>
            <p class="dashboard-subtitle">Update venue details</p>
        </div>
        
        <section class="form-container">
            <form id="edit-venue-form" action="#" method="post">
                <input type="hidden" id="venue-id" name="venue-id">
                <div class="form-group">
                    <label for="venue-name">Venue Name</label>
                    <input type="text" id="venue-name" name="venue-name" title="Please use letters and numbers only." maxlength="50" pattern="^[A-Za-z0-9]+$" required>
                </div>
                <div class="form-group">
                    <label for="block">Block</label>
                    <input type="text" id="block" name="block" title="Please use letters and spaces only." maxlength="50" pattern="^[A-Za-z ]+$" required>
                </div>
                <div class="form-group">
                 <label for="campus">Campus</label>
                 <select id="campus" name="campus" required>
                 <option value="">-- Select Campus --</option>
                 <option value="Steve Biko Campus">Steve Biko Campus</option>
                 <option value="ML Sultan Campus">ML Sultan Campus</option>
                 <option value="Ritson Campus">Ritson Campus</option>
                 <option value="Indumiso Campus">Indumiso Campus</option>
                  <option value="Midlands Campus">Midlands Campus</option>
                 </select>
                </div>
                <button type="submit" class="submit-btn">Save Changes</button>
            </form>
        </section>
        
    </main>

    <footer>
        <p>&copy; CyberRogues Attendance System</p>
    </footer>

    <script src="static/js/venue.js"></script>
</body>
</html>